@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  padding: 0 70px;
  display: flex;
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-right: 28px;
}

.navigation {
  display: flex;
  width: 892px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 596px;
  margin-right: 28px;
}

.navigation-list-user {
  width: 268px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  word-break: break-all;
  min-width: 140px;
  padding: 8px 18px;
  border-radius: 4px;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/img/index/index-background.jpg");
  background-size: cover;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px;
}

.section-header {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  word-break: break-all;
}

.section-header-subject {
  margin: 0;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.section-header-text {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
}

.advantages .section-header {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages .section-header-subject {
  margin-bottom: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  margin: 0;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 62px;
}

.advantages-description {
  margin: 0;
}

.advantages-item-img {
  color: #fff;
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.advantages-item-img.reversed {
  color: #fff;
  flex-direction: row-reverse;
}

.content-wrap {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  text-align: center;
  word-break: break-all;
}

.advantages-item-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.travel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.travel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 80px;
  justify-content: center;
}

.travel-item {
  width: 400px;
}

.travel-name {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.travel-description {
  text-align: center;
  color: #333;
}

.search-hotel {
  text-align: center;
  padding: 96px 304px;
}
.search-hotel .section-header {
  margin-bottom: 25px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  min-width: 376px;
}

.white {
  color: #ffffff;
}

.subscribe-button {
  line-height: 36px;
  font-size: 20px;
}

.subscribe.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.subscribe-form {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 260px;
  flex: 1 0 0;
  align-self: stretch;
}

.phone {
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

/*catalog*/

.catalog-section {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/img/catalog/background-catalog.jpg");
  background-size: cover;
}

.main-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #fff;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}

.filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #fff;
}

.filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}

.submit-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
}

.hotel-card-item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.hotel-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333;
}

.hotel-more {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.favorite {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
}

.pagination-list-item a {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
}
